#footer {
    background-color: #7191ac;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #footer-total {
    font-weight: bold;
  }
  
  #footer button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #footer button:hover {
    background-color: #45a049;
  }
  